*{
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
}
.container{
	display: flex;
	height: 300px;
	width: 200px;
	color: white;		
	margin-top: 100px;*/

	background-color: #FFFFFFBB;
	border: yellow solid;
	width: 200px;	
	padding: 20px;
	margin-left: 50%;
	margin-right: 50%;
	float: right;

}

.title{
	text-align: center;
	background-color: #212121;	
	padding-bottom: 50px;
	padding-top: 50px;
	color: #48C5CE;

}
.developer{
	margin-top: 50%;	
	text-align: right;
	align-content: right;
	color: white;
	margin-right: 20px;
	margin-bottom: 20px;
	color: yellow;
}
input{ /*NESSE CÓDIGO EU FIZ COM QUE O INPUT E SELECT TENHAM MAIS OU MENOS O MESMO 
					ESTILO*/
	width: 100%;
	padding: 10px;
	box-sizing: border-box; /*FAZ COM QUE NÃO TENHA AQUELA PEQUENA DIFERENÇA ENTRE O INPUT E O SELECT*/
	border: black solid;
	margin-bottom: 10px;
}
input[type="submit"]{
	color: white;
	background-color:#48C5CE;
	font-weight: bold;/*faz com que fique em negrito*/
}





span{
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0 0 1px;
	display: none;
	color: red;
}

#linguagens{
	float: left;
	text-align: center;
	margin-right: 20px;
	border: yellow solid;
	margin-left: 10px;
	margin-top: 10px;

}
#paragrafo{
	
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
	color: white;
	font-size: 20px;
}


@media screen and (max-width: 700px){
	.container{
		
		border: none;
		color: yellow;	
		
		
		
	}
	
}

@keyframes changeColor{
	0% {background-color: orange}*/
	25% {background-color: #48C5CE; color: black}
	50% {background-color: yellow; color: green;}
	75% {background-color: #48C5CE; color: white;}
	100% {background-color: orange; color: black;}
}

.box{
	
	animation-name: changeColor;
	animation-duration:10s;	
	
}