*{
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
}
.form{
	/*display: flex;
	height: 400px;
	width: 200px;
	color: white;	
	float: right;
	margin-right: 20px;
	margin-top: 100px;*/

	background-color: #FFFFFFBB;
	width: 200px;
	float: right;
	padding: 20px;
}
.title{
	text-align: center;
	background-color: yellow;	
	padding-bottom: 50px;
	padding-top: 50px;

}
.developer{
	margin-top: 100%;	
	text-align: right;
	align-content: right;
	color: white;
	margin-right: 20px;
	margin-bottom: 20px;
}
input{ /*NESSE CÓDIGO EU FIZ COM QUE O INPUT E SELECT TENHAM MAIS OU MENOS O MESMO 
					ESTILO*/
	width: 100%;
	padding: 10px;
	box-sizing: border-box; /*FAZ COM QUE NÃO TENHA AQUELA PEQUENA DIFERENÇA ENTRE O INPUT E O SELECT*/
	border: black;
	margin-bottom: 10px;
}
input[type="submit"]{
	color: white;
	background-color:#48C5CE;
	font-weight: bold;/*faz com que fique em negrito*/
}